:root {
    --font: 'Inter', sans-serif;
    --brand-color: #533feb;
    --white: #fff;
    --light-gray: #f0f0f0;
    --gray: #6a6d76;
    --dark: #0c101a;
    --dark-blue: #1e2740;

    --background-color: var(--white);
    --background-alt-color: var(--dark);

    --text-color: var(--dark-blue);
    --text-alt-color: var(--gray);

    --heading-font-color: var(--dark-blue);

    --link-color: var(--dark-blue);
    --link-color-hover: var(--brand-color);

    --button-color: var(--white);
    --button-background-color: var(--dark-blue);
    --button-background-hover: var(--brand-color);

    --border-color: var(--light-gray);
    --border-color-alt: #212630;

    --tr-color: var(--light-gray);

    --syntax-highlighting-background: #f3f3f3;
}


body{
    background-color: var(--background-color);
    color: var(--dark);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    transition: all .25s;

    *::selection {
        color: var(--white);
        background-color: var(--brand-color);
    }
}

.d-flex {
    display: flex;
}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}


footer{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 20px;
}

#userPhoto{
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    border: solid var(--brand-color) 2px;
}

#userName{
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.25;
    display: block;
    color: var(--dark-blue);
}

#links{
    max-width: 90%;
    width: 400px;
    display: block;
    margin: 27px auto;
}

.link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: var(--dark-blue);
    text-align: center;
    text-decoration: none;  
    color: var(--light-gray);  
    word-wrap: break-word;
}

.link:hover{
        background-color: var(--brand-color);
}

